.linux:
  image: ubuntu:20.04
  before_script:
    - apt-get update && apt-get install -y curl
    - apt-get install build-essential wget lsb-release software-properties-common -y
    - curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
    - bash -c "$(wget -O - https://apt.llvm.org/llvm.sh)"
    - chmod +x llvm.sh
    - ./llvm.sh 12
    - source $HOME/.cargo/env

.windows:
  tags:
    - shared-windows
    - windows
    - windows-1809
  before_script:
    - Remove-Item Alias:wget
    -

stages:
  - check
  - lint
  - test

check linux x86_64:
  stage: check
  extends:
    - .linux
  script:
    - cargo check

lint linux x86_64:
  stage: lint
  extends:
    - .linux
  script:
    - cargo clippy -- -D warnings
    - cargo fmt --all -- --check

test linux x86_64:
  stage: test
  extends:
    - .linux
  script:
    - cargo test