.linux:
  image: ubuntu:20.04
  before_script:
    - ln -fs /usr/share/zoneinfo/Etc/UTC /etc/localtime
    - DEBIAN_FRONTEND=noninteractive apt-get update
    - apt-get install curl build-essential wget lsb-release software-properties-common libz-dev -y
    - curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
    - wget https://apt.llvm.org/llvm.sh
    - chmod +x llvm.sh
    - ./llvm.sh 12
    - source $HOME/.cargo/env
  cache:
    - key: "rust-linux"
      paths:
        - target

.windows:
  tags:
    - shared-windows
    - windows
    - windows-1809
  before_script:
    - $Env:LLVM_SYS_120_PREFIX="${CI_PROJECT_DIR}\llvm-12.0.1"
    - |
      [Environment]::SetEnvironmentVariable("LLVM_SYS_120_PREFIX", $env:LLVM_SYS_120_PREFIX, [System.EnvironmentVariableTarget]::Machine)
    - cd ${CI_PROJECT_DIR}
  variables:
    LLVM_SYS_120_PREFIX: "${CI_PROJECT_DIR}\\llvm-12.0.1"
  cache:
    - key: "llvm12.0.1"
      paths:
        - llvm-12.0.1
    - key: "rust"
      paths:
        - target

.windows-build-tooling:
  before_script:
    - curl -o rustup-init.exe https://win.rustup.rs/
    - ./rustup-init.exe -y
    - $env:Path += ";$Env:Userprofile\.cargo\bin"
    - rustup install 1.58.1
    - rustup override set 1.58.1

.ci:
  only:
    refs:
      - merge_requests
#    changes:
#      - src/*

.deploy:
  only:
    - main

stages:
  - setup
  - lint
  - check
  - test
  - deploy
  - dl site refresh

# Windows
setup windows x86_64:
  stage: setup
  only:
    refs:
      - main
      - merge_requests
#    changes:
#      - src/*
  extends:
    - .windows
  script:
    - $Env:LLVM_SYS_120_PREFIX="${CI_PROJECT_DIR}\llvm-12.0.1"
    - |
      if(-Not (Test-Path -Path $Env:LLVM_SYS_120_PREFIX)) {
        iwr -useb cdn.looplang.org/llvm/install.ps1 | iex
        Move-Item -Path C:\llvm\llvm-12.0.1-windows-x64 -Destination ${CI_PROJECT_DIR}/llvm-12.0.1
        $Env:LLVM_SYS_120_PREFIX="${CI_PROJECT_DIR}\llvm-12.0.1"
        ls $Env:LLVM_SYS_120_PREFIX
      }

check windows x86_64:
  stage: check
  extends:
    - .windows
    - .ci
    - .windows-build-tooling
  script:
    - cargo check

test windows x86_64:
  stage: test
  extends:
    - .windows
    - .ci
    - .windows-build-tooling
  script:
    - $Env:TEST_JIT="0"
    - cargo test
    - $Env:TEST_JIT="1"
    - cargo test

deploy windows x86_64:
  stage: deploy
  variables:
    AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY
    NETLIFY_BUILD_LINK: $NETLIFY_BUILD_LINK
    CI_PIPELINE_ID: $CI_PIPELINE_IID
  extends:
    - .windows
    - .deploy
    - .windows-build-tooling
  before_script:
    - $Env:LLVM_SYS_120_PREFIX="${CI_PROJECT_DIR}\llvm-12.0.1"
    - |
      [Environment]::SetEnvironmentVariable("LLVM_SYS_120_PREFIX", $env:LLVM_SYS_120_PREFIX, [System.EnvironmentVariableTarget]::Machine)
    - cd ${CI_PROJECT_DIR}
    - curl -o rustup-init.exe https://win.rustup.rs/
    - ./rustup-init.exe -y
    - $env:Path += ";$Env:Userprofile\.cargo\bin"
    - rustup install 1.58.1
    - rustup override set 1.58.1
    - choco install -y python --version=3.8.3
    - $env:Path = [System.Environment]::GetEnvironmentVariable("Path","Machine") + ";" + [System.Environment]::GetEnvironmentVariable("Path","User")
    - python -m pip install boto3
    - python -m pip install requests
    - python -m pip install toml
  script:
    - cargo build --release
    - py scripts/prerelease.py

# Linux
lint linux x86_64:
  stage: lint
  extends:
    - .linux
    - .ci
  script:
    - cargo clippy -- -D warnings
    - cargo fmt --all -- --check

check linux x86_64:
  stage: check
  extends:
    - .linux
    - .ci
  script:
    - cargo check

test linux x86_64:
  stage: test
  extends:
    - .linux
    - .ci
  script:
    - export TEST_JIT=0 && cargo test
    - export TEST_JIT=1 && cargo test

deploy linux x86_64:
  stage: deploy
  variables:
    AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY
    NETLIFY_BUILD_LINK: $NETLIFY_BUILD_LINK
    CI_PIPELINE_ID: $CI_PIPELINE_IID
  extends:
    - .linux
    - .deploy
  before_script:
    - ln -fs /usr/share/zoneinfo/Etc/UTC /etc/localtime
    - DEBIAN_FRONTEND=noninteractive apt-get update
    - apt-get install curl build-essential wget lsb-release software-properties-common libz-dev -y
    - curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
    - wget https://apt.llvm.org/llvm.sh
    - chmod +x llvm.sh
    - ./llvm.sh 12
    - source $HOME/.cargo/env
    - DEBIAN_FRONTEND=noninteractive apt-get update
    - apt-get install python3 python3-pip python3-distutils -y
    - pip install boto3
    - pip install requests
    - pip install toml
  script:
    - cargo build --release
    - python3 scripts/prerelease.py


refresh downloads website:
  only:
    refs:
      - main
  image: ubuntu:20.04
  stage: dl site refresh
  before_script:
    - apt-get update && apt-get install curl -y
  script:
    - curl -X POST -d {} $NETLIFY_BUILD_LINK