.linux:
  image: ubuntu:20.04
  before_script:
    - ln -fs /usr/share/zoneinfo/Etc/UTC /etc/localtime
    - DEBIAN_FRONTEND=noninteractive apt-get update
    - apt-get install curl build-essential python3 python3-pip python3-distutils wget lsb-release software-properties-common libz-dev -y
    - curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
    - wget https://apt.llvm.org/llvm.sh
    - chmod +x llvm.sh
    - ./llvm.sh 12
    - source $HOME/.cargo/env
    - pip install boto3
    - pip install requests
    - pip install toml

.windows:
  tags:
    - shared-windows
    - windows
    - windows-1809
  before_script:
    - choco install -y python3
    - refreshenv
    - curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py
    - python get-pip.py
    - pip install distutils
    - pip install boto3
    - pip install requests
    - pip install toml
    - curl -o rustup-init.exe https://win.rustup.rs/
    - ./rustup-init.exe -y
    - $env:Path += ";$Env:Userprofile\.cargo\bin"
    - rustup install 1.56.1
    - rustup override set 1.56.1
    - iwr -useb cdn.looplang.org/llvm/install.ps1 | iex
    - cd $CI_PROJECT_DIR

stages:
  - check
  - lint
  - test
  - deploy

# Windows
check windows x86_64:
  when: manual
  stage: check
  extends:
    - .windows
  script:
    - cargo check

lint windows x86_64:
  when: manual
  stage: lint
  extends:
    - .windows
  script:
    - cargo clippy -- -D warnings
    - cargo fmt --all -- --check

test windows x86_64:
  when: manual
  stage: test
  extends:
    - .windows
  script:
    - cargo test

deploy windows x86_64:
  stage: deploy
  variables:
    AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY
    NETLIFY_BUILD_LINK: $NETLIFY_BUILD_LINK
    CI_PIPELINE_ID: $CI_PIPELINE_IID
  extends:
    - .windows
  script:
    - cargo build --release
    - python scripts/prerelease.py

# Linux
check linux x86_64:
  when: manual
  stage: check
  extends:
    - .linux
  script:
    - cargo check

lint linux x86_64:
  when: manual
  stage: lint
  extends:
    - .linux
  script:
    - cargo clippy -- -D warnings
    - cargo fmt --all -- --check

test linux x86_64:
  when: manual
  stage: test
  extends:
    - .linux
  script:
    - cargo test

deploy linux x86_64:
  stage: deploy
  variables:
    AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY
    NETLIFY_BUILD_LINK: $NETLIFY_BUILD_LINK
    CI_PIPELINE_ID: $CI_PIPELINE_IID
  extends:
    - .linux
  script:
    - cargo build --release
    - python3 scripts/prerelease.py