.linux:
  image: ubuntu:20.04
  before_script:
    - ln -fs /usr/share/zoneinfo/Etc/UTC /etc/localtime
    - DEBIAN_FRONTEND=noninteractive apt-get update
    - apt-get install curl build-essential wget lsb-release software-properties-common libz-dev -y
    - curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
    - wget https://apt.llvm.org/llvm.sh
    - chmod +x llvm.sh
    - ./llvm.sh 12
    - source $HOME/.cargo/env

.windows:
  tags:
    - shared-windows
    - windows
    - windows-1809
  before_script:
    - choco install rust-ms --version=1.56.1
    - iwr -useb cdn.looplang.org/llvm/install.ps1 | iex
    - refreshenv

stages:
  - check
  - lint
  - test

# Windows
check windows x86_64:
  stage: check
  extends:
    - .windows
  script:
    - cargo check

lint windows x86_64:
  stage: check
  extends:
    - .windows
  script:
    - cargo clippy -- -D warnings
    - cargo fmt --all -- --check

test windows x86_64:
  stage: check
  extends:
    - .windows
  script:
    - cargo test

# Linux
check linux x86_64:
  stage: check
  extends:
    - .linux
  script:
    - cargo check

lint linux x86_64:
  stage: lint
  extends:
    - .linux
  script:
    - cargo clippy -- -D warnings
    - cargo fmt --all -- --check

test linux x86_64:
  stage: test
  extends:
    - .linux
  script:
    - cargo test