# ==============================================================================
#                             LOOP CI/CD PIPELINE 
# ==============================================================================
stages:
  - lint     # Doing a clippy and fmt test
  - check    # Checking for compilition errors, but without the code generation
  - test     # cargo +nightly test and end2end_test.py

.linux:
  variables:
    CARGO_UNSTABLE_SPARSE_REGISTRY: "true"
  image: kaners/loop_build:latest
# ==============================================================================
#                             BEGINNING OF LINTING STAGE
# ==============================================================================
.lint_test:
  script:
    - cargo +nightly clippy -- -D warnings
    - cargo +nightly fmt --all -- --check

loop lint:
  extends: .linux
  only:
    refs:
      - merge_requests
  stage: lint
  script:
    - !reference [.lint_test, script]

picasso lint:
  extends: .linux
  only:
    refs:
      - merge_requests
    changes:
      - src/picasso/**/*
  stage: lint
  script:
    - cd src/picasso/
    - !reference [.lint_test, script]

vinci lint:
  extends: .linux
  only:
    refs:
      - merge_requests
    changes:
      - src/vinci/**/*
  stage: lint
  script:
    - cd src/vinci/
    - !reference [.lint_test, script]

sanzio lint:
  extends: .linux
  only:
    refs:
      - merge_requests
    changes:
      - src/sanzio/**/*
  stage: lint
  script:
    - cd src/sanzio/
    - !reference [.lint_test, script]
# ==============================================================================
#                             ENDING OF LINTING STAGE
# ==============================================================================

# ==============================================================================
#                             BEGINNING OF CHECKING STAGE
# ==============================================================================
.check:
  script:
    - cargo +nightly check

loop check:
  extends: .linux
  only:
    refs:
      - merge_requests
    changes:
      - loop/*
  stage: check
  script:
    - !reference [.check, script]

picasso check:
  extends: .linux
  only:
    refs:
      - merge_requests
    changes:
      - src/picasso/**/*
  stage: check
  script:
    - cd src/picasso/
    - !reference [.check, script]

vinci check:
  extends: .linux
  only:
    refs:
      - merge_requests
    changes:
      - src/vinci/**/*
  stage: check
  script:
    - cd src/vinci/
    - !reference [.check, script]

sanzio check:
  extends: .linux
  only:
    refs:
      - merge_requests
    changes:
      - src/sanzio/**/*
  stage: check
  script:
    - cd src/sanzio/
    - !reference [.check, script]
# ==============================================================================
#                             ENDING OF CHECKING STAGE
# ==============================================================================

# ==============================================================================
#                             BEGINNING OF TESTING STAGE
# ==============================================================================
.test:
  script:
    - cargo +nightly test

loop test:
  extends: .linux
  only:
    refs:
      - merge_requests
  stage: test
  script:
    - !reference [.test, script]

loop end2end_test:
  extends: .linux
  only:
    refs:
      - merge_requests
  stage: test
  script:
    - apt-get update
    - apt-get install python3 python3-pip python3-distutils -y
    - cargo +nightly build --release
    - python3 tests/end2end_test.py

picasso test:
  extends: .linux
  only:
    refs:
      - merge_requests
    changes:
      - src/picasso/**/*
  stage: test
  script:
    - cd src/picasso/
    - !reference [.test, script]

vinci test:
  extends: .linux
  only:
    refs:
      - merge_requests
    changes:
      - src/vinci/**/*
  stage: test
  script:
    - cd src/vinci/
    - !reference [.test, script]

sanzio test:
  extends: .linux
  only:
    refs:
      - merge_requests
    changes:
      - src/sanzio/**/*
  stage: test
  script:
    - cd src/sanzio/
    - !reference [.test, script]
# ==============================================================================
#                             ENDING OF TESTING STAGE
# ==============================================================================
